@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

*{
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: #383838;
    padding: 0;
    margin: 0;
    /* outline: 2px solid lightgreen; */
}

html {
    scroll-behavior: smooth;
}

body{
    gap: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 auto;
    overflow-x: hidden;
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(77,30,233,1) 0%, rgba(0,179,18,1) 56%, rgba(255,162,0,1) 100%); */
    background: url('./img/back13.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header{
    margin: 0 auto;
    padding: 20px 0;
    font-size: 40px;
    font-weight: 600;
}

header > a{
    transition: all .3s;
}

header > a:hover{
    color: #fff;
}

main{
    /* max-width: 1100px; */
    flex: 1;
    text-align: justify;
    font-size: 22px;
    /* font-weight: 700; */
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 100px;
    align-items: center;
    justify-self: center;
    justify-content: center;
}

main > p{
    max-width: 600px;
    padding: 25px 50px;
    background: rgba(255, 255, 255, 0.32);
    border-radius: 16px;
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
    -webkit-box-shadow: 10px 10px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 10px 10px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 10px 10px 8px 0px rgba(34, 60, 80, 0.2);
}

::selection{
    background-color: #4037c5;
    color: #fafafa;
}

div{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    gap: 20px;
}

div > a,
button{
text-align: center;
    font-size: 25px;
    padding: 15px 100px;
    border-radius: 50px;
    transition: all .4s; 
    /* color: #fafafa; */
    background: rgba(255, 255, 255, 0.28);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    /* border: 1px solid #383838; */
}

a:hover{
    /* background-color: inherit; */
/* border: 1px solid #fafafa; */
color: #fafafa;
scale: 1.05;
}

.hide{
    display: none !important;
}

#list{
    display: flex;
    flex-direction: column;
    color: #fafafa;
}

.progress{
    display: flex;
    gap: 10px;
    align-items: center;
}

progress{
    width: 600px;
    height: 15px;
    border-radius: 50px;
    justify-content: space-between;
}

progress::-webkit-progress-bar { 
    background:  #fffb00; 
    border-radius: 25px;
} 
progress::-webkit-progress-value {
    background: #1474a1;
    border-radius: 50px;
}

span,.title, .result,.question{
    color: #fafafa;
}

#quiz{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.result-container{
    align-items: center;
}

.results{
    text-align: center;
}

h3.summary{
    font-weight: 100;
    max-width: 1400px;
    padding: 25px 50px;
    background: rgba(255, 255, 255, 0.32);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
}